$colorAccent: #095256;
$colorPrimary: #087f8c;
$colorSecondary: #86a873;
$colorBackground: #5aaa95;
$colorBtn: #bb9f06;

$fontPrimary: 'Poppins', sans-serif;
$fontMonospace: 'Courier New', Courier, monospace;